{% extends "autos/base.html" %}

{% load static %}

{% block title %}Listado de Autos{% endblock %}

{% block content %}
<h2>Listado de Autos</h2>
<div class="row">
    {% for car in cars %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <img src="{% static car.image %}" class="card-img-top" alt="{{ car.model }}">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
                <p class="card-text">{{ car.description }}</p>
                <p class="card-text"><strong>Precio: ${{ car.price }}</strong></p>
                <div class="mt-auto">
                    <form method="post" action="{% url 'add_to_cart' car.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Añadir al Carrito</button>
                    </form>
                    <a href="{% url 'car_detail' car.id %}" class="btn btn-secondary">Ver Detalles</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
